{% extends 'layout.html' %} {% block body %} {% include 'partials/_message.html'
%}

<div class="row">
  <div class="col-md-5">{% include('partials/_contactForm.html') %}</div>

  <div class="col-md-7">
    {% for contact in contacts %}

    <div class="card mb-1 text-white bg-dark">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5>{{contact.fullName}}</h5>
          <p>{{contact.email}}</p>
          <p>{{contact.phone}}</p>
          <div>
            <a
              href="{{ url_for('contacts.updateContact', id=contact.id) }}"
              class="btn btn-primary"
              >Update</a
            >
            <a
              href="{{ url_for('contacts.deleteContact', id=contact.id) }}"
              class="btn btn-danger"
            >
              Delete</a
            >
          </div>
        </div>
      </div>
      <hr />
      <br />
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
