{% extends 'layout.html' %} {% block body %}
<h1>Actualiza la informacion</h1>
<form action="/update/{{contact.id}}" method="post">
  Full name
  <input
    type="text"
    name="fullName"
    id="fullName"
    placeholder="{{contact.fullName}}"
    required="required"
  />
  <br />
  Email
  <input
    type="text"
    name="email"
    id="email"
    placeholder="{{contact.email}}"
    required="required"
  />
  <br />
  Phone
  <input
    type="text"
    name="phone"
    id="phone"
    placeholder="{{contact.phone}}"
    required="required"
  />
  <br /><br />
  <button>save</button>
</form>

{% endblock %}
